@import "Colors";
@import "Fonts";

#about {
  background-color: $lavender;
  position: relative;
  padding: 5vh 0 5vh 0;
}

#about-title {
  font-size: $titleFontSize;
  padding: 5vh 5vw 5vh 5vw;
  text-align: center;
}

.about-item {

  padding: 2vh 0 2vh 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;

  img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid $iconWhite 3px;
  }

  h1, p {
    text-align: center;
    padding: 3vh 5vw 3vh 5vw;
    text-shadow: .03em .03em red;
  }

  h1 {
    color: $lavender;
    font-size: $subHeaderFontSize;
  }

  p {
    color: $silverBlue;
    font-size: $textFontSize;
  }
}