@import url('https://fonts.googleapis.com/css?family=Economica|Raleway:100');

$titleFont: 'Economica', sans-serif;
$bodyFont: 'Raleway', sans-serif;
$titleFontSize: 5em;
$subHeaderFontSize: 3.5em;
$textFontSize: 1.5em;

h1 {
  font-family: $titleFont;
  margin: 0 0 0 0;
}

p {
  font-family: $bodyFont;
  margin: 0 0 0 0;
}