@import "Colors";

#home-page {
  background-color: $babyBlue;
  padding: 10vh 15px 10vh 15px;
  min-height: 80vh;
  max-height: 100vh;
}

#home-page-content {
  // TODO: Center the content of the page vertically
}


#home-name-banner {
  font-size: 3em;
  text-align: center;
  color: $lavender;
}

#home-description {
  text-align: center;
  padding-top: 5vh;
  font-size: 2.5em;
  color: $silverBlue;
  a {
    svg {
      font-size: 2em; // increase the size of icons
      color: $iconWhite;
      :hover {
        color: $lavender;
      }
    }
  }
  p {
    padding-bottom: 2vh;
  }
}