@import "Colors";

#Home-Page {
  background-color: $secondaryBlue;
  min-height: 100vh;
  padding: 10vh 15px 10vh 15px;
}

#Home-Name-Banner {
  font-size: 3em;
  text-align: center;
  color: $primaryRed;
}

#Home-Description {
  text-align: center;
  padding-top: 5vh;
  font-size: 2em;
  color: $alternativeYellow;
  a {
    svg {
      font-size: 2em; // increase the size of icons
      color: $iconWhite;
    }
  }
  p {
    padding-bottom: 2vh;
  }
}