@import "Colors";
@import "Fonts";

#project-section {
  h1 {
    // TODO: add more padding
    font-size: $titleFontSize;
    text-align: center;
  }
}

.project-item {
  // TODO: add more padding
  background-color: $silverBlue;
  text-align: center;
  padding: 5vh 3vw 5vh 3vw;

  p {
    font-size: $textFontSize;
    svg {
      font-size: 5em; // increase the size of project icons
      color: $darkTurquoise;
      text-align: center;
    }
  }
}

.project-title {
  font-size: $subHeaderFontSize !important; // TODO: figure out why the header is inheriting the style from #project-section
  text-align: center;
  color: $iconWhite;
}

.project-subtitle {
  font-size: $textFontSize;
  text-align: center;
  color: $iconWhite;
}

.project-button {
  padding: 5px 5px 5px 5px;
  border: solid $iconWhite 3px;
  background-color: $lavender;
  :hover {
    background-color: $darkTurquoise;
  }
}

.tools-section {
  font-family: $bodyFont;
  font-size: $textFontSize;
  text-align: left;
}