@import "Colors";
@import "Fonts";

#project-section {
  h1 {
    // TODO: add more padding
    font-size: $titleFontSize;
    text-align: center;
  }
}

.project-item {
  // TODO: add more padding
  background-color: $silverBlue;
  text-align: center;

  h1 {
    font-size: $subHeaderFontSize !important; // TODO: figure out why the header is inheriting the style from #project-section
    text-align: center;
    color: $iconWhite;
  }

  p {
    font-size: $textFontSize;
    svg {
      font-size: 5em; // increase the size of project icons
      color: $darkTurquoise;
      text-align: center;
    }
  }
}

.tools-section {
  font-family: $bodyFont;
  font-size: $textFontSize;
  text-align: left;
}