@import "Fonts";
@import "Colors";
@import "HomeSection";
@import "AboutSection";
@import "ProjectSection";
@import "NavigationBar";
@import "LineSeparator";

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}