@import url("https://fonts.googleapis.com/css?family=Economica|Raleway:100");
@import url("https://fonts.googleapis.com/css?family=Economica|Raleway:100");
@import url("https://fonts.googleapis.com/css?family=Economica|Raleway:100");
@import url("https://fonts.googleapis.com/css?family=Economica|Raleway:100");
h1 {
  font-family: "Economica", sans-serif;
  margin: 0 0 0 0; }

p {
  font-family: "Raleway", sans-serif;
  margin: 0 0 0 0; }

h1 {
  font-family: "Economica", sans-serif;
  margin: 0 0 0 0; }

p {
  font-family: "Raleway", sans-serif;
  margin: 0 0 0 0; }

#home-page {
  position: relative;
  background-color: #5299D3;
  padding: 10vh 0 10vh 0;
  min-height: 100vh;
  max-width: 100vw; }
  @media screen and (max-width: 500px) {
    #home-page {
      padding-top: 5vh; } }

#home-page-content {
  width: 100% !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#home-name-banner {
  font-size: 5em !important;
  text-align: center;
  color: #BEB8EB; }
  @media screen and (max-width: 500px) {
    #home-name-banner {
      font-size: 1.5em !important; } }

#home-description {
  text-align: center;
  padding-top: 5vh;
  font-size: 3.5em;
  color: #A2BCE0; }
  #home-description a svg {
    font-size: 2em;
    color: white; }
    #home-description a svg :hover {
      color: #BEB8EB; }
  #home-description p {
    padding-bottom: 2vh; }
  @media screen and (max-width: 500px) {
    #home-description {
      font-size: 2em; } }

h1 {
  font-family: "Economica", sans-serif;
  margin: 0 0 0 0; }

p {
  font-family: "Raleway", sans-serif;
  margin: 0 0 0 0; }

#about {
  background-color: #BEB8EB;
  position: relative;
  padding: 5vh 0 5vh 0; }

#about-title {
  font-size: 5em;
  padding: 5vh 5vw 5vh 5vw;
  text-align: center; }

.about-item {
  padding: 2vh 0 2vh 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  height: 100%; }
  .about-item img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid white 3px; }
  .about-item h1, .about-item p {
    text-align: center;
    padding: 3vh 5vw 3vh 5vw;
    text-shadow: .03em .03em red; }
  .about-item h1 {
    color: #BEB8EB;
    font-size: 3.5em; }
  .about-item p {
    color: #A2BCE0;
    font-size: 1.5em; }

h1 {
  font-family: "Economica", sans-serif;
  margin: 0 0 0 0; }

p {
  font-family: "Raleway", sans-serif;
  margin: 0 0 0 0; }

#project-section h1 {
  font-size: 5em;
  text-align: center; }

.project-item {
  background-color: #A2BCE0;
  text-align: center;
  padding: 5vh 3vw 5vh 3vw; }
  .project-item a :hover {
    background-color: #0B5563; }
  .project-item p {
    font-size: 1.5em; }
    .project-item p svg {
      font-size: 5em;
      color: #0B5563;
      text-align: center; }

.project-title {
  font-size: 3.5em !important;
  text-align: center;
  color: white; }

.project-subtitle {
  font-size: 1.5em;
  text-align: center;
  color: white; }

.project-button {
  padding: 5px 5px 5px 5px;
  border: solid white 2px;
  background-color: #BEB8EB; }

.tools-section {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  text-align: left; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }
  .bm-cross-button :hover {
    background: #5299D3; }

/* Color/shape of close button cross */
.bm-cross {
  background: white; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 2em; }
  .bm-menu a {
    text-decoration: none;
    opacity: .75; }
    .bm-menu a :hover {
      color: #5299D3;
      opacity: 1; }
    .bm-menu a p {
      color: white;
      text-align: center;
      padding-top: 3vh; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3); }

.Line-Separator {
  height: 5vh;
  background-color: #0B5563;
  width: 100vw; }

html {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=styles.css.map */
